.blog-card {
  display: inline-block;
  width: auto;
  max-width: 480px;
  margin: 1em auto;

  a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;

    .blog-card-thumbnail {
      min-width: 100px;
      max-width: 100px;
      width: 100px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .blog-card-content {
      padding: 1em;

      p {
        font-weight: $base-strong-font-weight;
        margin: 0;
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .blog-card {

    a {

      .blog-card-content {

        p {
          font-size: $global-small-font-size;
        }
      }
    }
  }
}