/*
$primary: #247ba0;
$green: #70c1b3;
$middle: #b2dbbf;
$yellow: #f3ffbd;
$red: #ff1654;
*/
/* Typography */
$global-font-family: 'Noto Sans JP', sans-serif;
/* Colors */
$global-color: #666;
$global-emphasis-color: #333;
$global-muted-color: #999;
$global-link-color: #247ba0;
$global-link-hover-color: #144a61;
$global-inverse-color: #fff;
/* Backgrounds */
$global-background: #fff;
$global-muted-background: #f8f8f8;
$global-primary-background: #247ba0;
$global-secondary-background: #333;
$global-success-background: #70c1b3;
$global-warning-background: #faa05a;
$global-danger-background: #ff1654;
/* font-weight */
$base-body-font-weight: 300;
$base-heading-font-weight: 300;
$table-header-cell-font-weight: 300;
$description-list-term-font-weight: 300;
$base-strong-font-weight: 500;