.post-content {
  letter-spacing: 0.05em;

  p {
    margin-bottom: 1em;
  }

  h2 {
    font-weight: $font-weight-bold;
    font-size: $h4-font-size;
    box-sizing: border-box;
    padding: 0.5em;
    border-left: solid 0.2em $primary;
    background-color: $secondary;
    margin: 2em auto 1em;
  }

  h3 {
    font-weight: $font-weight-bold;
    font-size: $h5-font-size;
    box-sizing: border-box;
    border-bottom: solid 3px $secondary;
    position: relative;
    margin: 2em auto 1em;
    padding-bottom: 0.5em;

    &:after {
      content: '';
      position: absolute;
      display: block;
      border-bottom: solid 3px $primary;
      bottom: -3px;
      width: 20%;
    }
  }

  h4 {
    font-weight: $font-weight-bold;
    font-size: $h6-font-size;
    box-sizing: border-box;
    margin: 2em auto 1em;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
}

.blog-card {
  position: relative;

  a {
    display: table;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    margin: 1em 0;
    word-wrap: break-word;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);

    &:hover {
      transform: translateY(-2px);
      text-decoration: none;
      box-shadow: 5px 10px 20px rgba(0, 0, 0, .3);
    }
  }

  .blog-card-thumbnail {
    display: table-cell;
    width: 100px;
    height: 100px;
    vertical-align: middle;

    img {
      width: 100%;
      height: auto;
      margin: 0;
    }
  }

  .blog-card-content {
    display: table-cell;
    width: calc(100% - 100px);
    padding: 0 1em;
    vertical-align: middle;
    border-left: #eee solid 1px;

    p {
      font-weight: bold;
      line-height: 1.5;
      margin: 0;
      color: $gray-900;
    }
  }
}