$border-color: #e5e5e5;
.main-article {
  position: relative;
  width: 100%;
  height: auto;
  color: $global-emphasis-color;
  line-height: 1.925em;
  h2 {
    box-sizing: border-box;
    padding: 0.5em;
    background-color: $global-muted-background;
    border-bottom: solid 3px $global-primary-background;
  }
  h3 {
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 3px $global-primary-background;
  }
  h2,
  h3,
  h4 {
    font-weight: bold;
    margin: 1.5em auto 0.5em;
  }
  pre {
    &.wp-block-code {
      padding: 0;
      border: 0;
      border-radius: 0;
    }
  }
  blockquote {
    &.wp-block-quote {
      box-sizing: border-box;
      padding: 1rem 1.5rem;
      border-left: 3px solid $global-color;
      background-color: $global-muted-background;
      p {
        font-size: 1rem;
      }
      cite {
        font-size: 0.8rem;
      }
    }
  }
  .wp-block-image {
    figure {
      figcaption {
        text-align: center;
      }
    }
  }
  .wp-block-table {
    table {
      border-collapse: collapse;
      td,
      th {
        box-sizing: border-box;
        padding: 0.5em;
        border: solid 1px $border-color;
      }
      tr {
        &:first-child {
          td {
            background-color: $global-muted-background;
          }
        }
      }
    }
  }
  /* Gutenberg系 */
  .wp-block-button,
  .wp-block-columns,
  .wp-block-embed {
    margin: 1.5rem 0;
  }
  .is-provider-youtube {
    .iframe {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  /* 外部CSSのOverWrite */
  .hljs {
    padding: 1rem;
  }
}
@media (max-width: $breakpoint-small) {
  .main-article {
    h2 {
      font-size: $global-small-font-size*1.6;
    }
    h3 {
      font-size: $global-small-font-size*1.4;
    }
    h4 {
      font-size: $global-small-font-size*1.2;
    }
  }
}