@import "custom";
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";
@import "highlight.js/scss/atom-one-dark.scss";
/* Original */
@import "blog-card";
@import "toc";
@import "single";
@import "adjustment";

ins {
  background: none;
}

.header {
  &-wrap {
    min-height: 20px;
  }
}

.side {
  &__ads {
    a {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

#post-main {
  .googleads {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
}
